
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*------------------------------------------------------*/
/*Обнуление*/


body{
	width: 1920;
	height: 1080;
	margin: 0;
	display: grid;
	background: radial-gradient(circle,white, blue);
}

.modal{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 49, 49, 0.322);
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
}

.modal:target{
	display: block;
}

.content{
	min-height: 200px;
	background-color: rgb(255, 255, 255);
	margin: 19% auto;
	width: 20%;
	min-width: 250px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 7px rgb(38, 0, 255);
}

.shut{
	float: right;
	font-size: 25px;
	font-weight: 900;
	color: #666;
}

.shut:hover{
	color: black;
}

.signin-container{
	font-size: 20px;
	text-align: center;
}

.sign-in{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	position: relative;
}

label{
	margin-top: 10px;
}

label:hover{
	pointer-events: none;
}

.email{
	position: absolute;
	margin-top: 6px;
	margin-right: 145px;
	padding: 0 0.5px;
	background: #fff;
	font-size: 18px;
}

.newpassword{
	position: absolute;
	margin-top: 46.5px;
	margin-right: 70px;
	padding: 0 0.5px;
	background: #fff;
	font-size: 18px;
}

.confirm{
	position: absolute;
	margin-top: 87.5px;
	margin-right: 37px;
	padding: 0 0.5px;
	background: #fff;
	font-size: 18px;
}

.submit{
	font-size: 17px;
	margin-top: 25px;
	border-radius: 5px;
	background-color: white;
	border: 1.4px solid rgb(0, 0, 0);
	padding: 2px 4px; 
	box-shadow: 0px 3px rgba(38, 0, 255, 0.8);
}

.submit:hover{
	background-color: rgba(128, 128, 128, 0.25);
}

.submit:active{
	box-shadow: 0 2px rgba(38, 0, 255, 0.70);
	transform: translateY(1px);
}

input{
	font-size: 17px;
	border: 1px solid rgb(0, 0, 0);
	max-width: 90%;
	min-width: 20%;
	border-radius: 3px;
	margin-top: 20px;
}

input:hover{
	border: 1px solid rgb(147, 147, 147);
}

p{
	margin: auto 30%;
}


/* ------------------------------------------------------------------------------------------*/
/*SIGN UP BUTTON*/

.upmodal{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 49, 49, 0.322);
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
}

.upmodal:target{
	display: block;
}

.upcontent{
	min-height: 200px;
	background-color: white;
	margin: 20% auto;
	width: 20%;
	min-width: 250px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 7px rgb(38, 0, 255);
}

.upshut{
	float: right;
	font-size: 25px;
	font-weight: 900;
	color: #666;
}

.upshut:hover{
	color: black;
}

.signup-container{
	font-size: 20px;
	text-align: center;
}

.sign-up{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	position: relative;
}

label{
	margin-top: 10px;
}

label:hover{
	pointer-events: none;
}

.upemail{
	position: absolute;
	margin-top: 5.5px;
	margin-right: 143px;
	padding: 0 0.5px;
	background: #fff;
	font-size: 18px;
}

.password{
	position: absolute;
	margin-top: 46.5px;
	margin-right: 111px;
	padding: 0 0.5px;
	background: #fff;
	font-size: 18px;
}

.upsubmit{
	font-size: 17px;
	margin-top: 25px;
	border-radius: 5px;
	background-color: white;
	border: 1.4px solid rgb(97, 97, 97);
	padding: 2px 4px; 
	box-shadow: 0px 3px rgba(38, 0, 255, 0.8);
}

.upsubmit:hover{
	background-color: rgba(128, 128, 128, 0.25);
}

.upsubmit:active{
	box-shadow: 0 2px rgba(38, 0, 255, 0.70);
	transform: translateY(1px);
}

/* ------------------------------------------------------------------------------------------*/
/*Sign in button*/

.signin_whole{
	font-family: 'American Typewriter', serif;
}

.signup_whole{
	font-family: 'American Typewriter', serif;
}

/*centered registration window*/
/*
.register{
	margin: auto;
	width: 140px;
	height: 160px;
	border-radius: 20px;
	position: relative;
	padding: 10px;
	box-shadow: 2px 2px 7px rgb(38, 0, 255);
	background: linear-gradient(to top, rgba(38, 0, 255, 0.12), rgb(239, 235, 255));
} 
*/

.register{
	margin: auto;
	width: 140px;
	height: 160px;
	border-radius: 20px;
	position: fixed;
	right: 20%;
	top: 20%;
	padding: 10px;
	box-shadow: 2px -2px 7px rgb(38, 0, 255);
	background: linear-gradient(to left bottom, rgba(38, 0, 255, 0.12), rgb(239, 235, 255));
} 


.sign-in-button{
	font-family: 'American Typewriter', serif;
	position: absolute;
	font-size: 20px;
	color: black;
	float: left;
	margin-top: 8%;
}

.sign-in-button:hover{
	
	color: rgba(0, 0, 169, 0.769);
	/*
	font-size: 20.5px;
	transform: translateX(-1px);
	*/
}

.sign-up-button:hover{
	color: rgba(0, 0, 169, 0.769);
	/*
	font-size: 20.5px;
	transform: translateX(1px)
	*/
}

.sign-up-button{
	font-family: 'American Typewriter', serif;
	position: relative;
	font-size: 20px;
	color: black;
	float: right;
	margin-top: 90%;
}

/* ------------------------------------------------------------------------------------------*/
/*Text-Align*/




